body {
    margin: 0;
    color: #fff;
    font-family: Golos;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
      ), url('@/assets/img/runway.png')
      no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 60px;
    height: 100vh;
}

.admin-text {
    position: absolute;
    width: 100%;
    color: rgba(250, 125, 0, 0.7);
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.header {
    padding: 20px;
    height: 80px;
    display: flex;
    &__logo {
        height: 100%;
        width: auto;
    }
}
.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #d1d6ed;
    padding: 5px 10px;
    white-space: nowrap;
    height: 35px;
    
    .mr-10 {
        margin: auto 10px auto 0;
    }
}

.content {
    padding: 20px;
    height: calc(100% - 80px);
    &__info {
        flex: 1;
        display: flex;
        height: calc(100% - 45px);
        align-items: stretch;
        flex-direction: column;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

table {
    border-collapse: collapse;
    tr {
        height: 45px;
        td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            &:not(:last-child) {
                padding: 5px 10px;
            }
        }
        &:hover {
            background: rgba(0, 0, 0, 0.2);
            cursor: default;
        }
    }
}

@media screen and (max-width: 770px) {
    .container {
        margin: 0 30px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        margin: 0 10px;
    }
}